*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Barlow Condensed', sans-serif;
    display: grid;
    background: url(descarga\ \(8\).jpg);
   /* background-color: rgb(146, 72, 85); */
}

.container{
    
    width: 100%;
    min-height: 100vh;
    
}

nav{
    width: 100%;
    height: 200px;
    display: inline-block;

}

.menu{
    list-style: none;
    background: #222;
    width: 400px;
    margin-left: 800px;
    margin-top: -100px;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #fff;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 20px 30px ;
    font-size: 2rem;

}

.menu li{
    display: inline-block;
    text-align: end;

}

.menu li a:hover{
    background: #ef8354;
}

#anuncio{
    display: inline-block;
    height: 600px;
    width: 300px;
    margin-left: 200px;
    margin-top: 50px;
}

h2{
    margin-left: 1050px;
    color: #fff;
    font-size: 2rem;
    text-shadow: 0px 0px 3px #fff;
    background-color: #222;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #fff;

}





#imagenPrincipal1{
    display: inline-block;
    width: 500px;
    height: 350px;
    border: 3px solid #fff;
    box-shadow: 6px 6px 13px #fff;
    margin-left: 50px;
}



#imagenPrincipal2{
    display: inline-block;
    width: 500px;
    height: 350px;
    margin-left: 700px;
    border: 3px solid #fff;
    box-shadow: 6px 6px 13px #fff;
    margin-top: -380px;

}


#descripcionTitulo{
    margin-left: 300px;
    font-size: 3rem;
    text-shadow: 2px 2px 5px #fff;
    margin-top: 50px;
    color: #fff;


    
}

#titulo{
   
   color: #fff;
   font-size: 4rem;
   width: 400px;
   height: 100px;
   text-align: center;
   background-color: #222;
   border-radius: 20px;
   box-shadow: 0px 0px 12px #fff;
   margin-left: 10px;
   margin-top: 20px;
}



.miniCaja{
    display: inline-block;
    width: 800px;
    height: 350px ;
    background-color: #222;
    margin-left: 255px;
    margin-top: 30px;
    align-items: center;
    box-shadow: 0px 0px 12px #fff;
    border-radius: 50px;
}

#descripcion{
    margin-left: 200px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px #fff;
    margin-top: 30px;
    color: #fff;
}

#TituloIntegrantes{
 font-size: 3.5rem;
 margin-top: 100px;
 margin-left: 30px;
 color: #fff;
 text-shadow: 0px 0px 5px #fff;
 background-color: #222;
 width: 500px;
 height: 100px;
 text-align: center;
 border-radius: 50px;
 box-shadow: 0px 0px 12px #fff;
}

.container2{
    display: inline;
    width: 100%;
    min-height: 100vh;
}


label{
    font-size: 2rem;
    color: #fff;
    text-shadow: 0px 0px 3px #fff;
    text-decoration: underline;

}

.imgDescripcion{
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0px 0px 3px #fff;
    margin-left: 20px;
    width: 400px;
    height: 250px;
    text-align: center;
    background: #222;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #fff;


}

.image{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-top: 30px;
    box-shadow: 0px 0px 13px #fff;
}

#recomendation{
    margin-top: 100px;
    margin-left: 30px;
    width: 600px;
    height: 100px;
    background-color: #222;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0px 0px 3px #fff;
    box-shadow: 0px 0px 12px #fff;
    border-radius: 30px;
}

.video{
    margin: 50px;
    box-shadow: 0px 0px 12px #fff;
}